.c-container{
    justify-content: space-around;
    gap: 1rem;

}
.c-container>img{
    width: 9rem;
}
.c-container>img:hover{
    transform: scale(1.1);
    /* scale: 1.02s; */
    cursor: pointer;
    box-shadow: var(--shadow);
 
}